
  

  <footer class="mt-auto">
    <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm-5">
        <h5>Contact us</h5>
          <p>A12-1305, Daeyeon Campus, Pukyong National University, Yongso-ro45, Nam-gu, Busan (48513), Republic of Korea</p>
          <p>Tel: +(82)51-629-6247</p>
          <p>Fax: +(82)51-626-4887</p>
      </div>


    
      <div class="col-sm-5">
        <h5>Sitemap</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="/professor" class="nav-link p-0 text-muted">Professor</a></li>
          <li class="nav-item mb-2"><a href="/members" class="nav-link p-0 text-muted">Members</a></li>
          <li class="nav-item mb-2"><a href="/publications" class="nav-link p-0 text-muted">Publications</a></li>
        </ul>
          
          </div>
      </div>
    </div>

    <div class="justify-content-between py-4 my-4 border-top text-center">
      <p>LISIA 1993 - {% now "Y" %} © All Rights Reserved</p>
    </div>
  </div>
  </footer>
