
  

  <footer class="mt-auto">
    <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-md-6 col-sm-6 px-4">
        {% for prof in professor %}
        <h5>Contact us</h5>
          <p><b>Address: </b>{{ prof.address }}</p>
          <p><b>Tel: </b>{{ prof.phone }}</p>
          <p><b>Fax: </b>{{ prof.fax }}</p>
        {% endfor %}
      </div>
    
      <div class="col-lg-3 col-md-3 col-sm-3 px-4">
        <h5>Sitemap</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="/professor" class="nav-link p-0 text-muted">Professor</a></li>
          <li class="nav-item mb-2"><a href="/members" class="nav-link p-0 text-muted">Members</a></li>
          <li class="nav-item mb-2"><a href="/publications" class="nav-link p-0 text-muted">Publications</a></li>
        </ul>
          
          </div>
      </div>
    </div>

    <div class="justify-content-between pt-2 mt-2 border-top text-center">
      <p>LISIA 1993 - {% now "Y" %} © All Rights Reserved</p>
    </div>
  </div>
  </footer>
