{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}


<div class="container px-4 py-5">
  <h2>{{ page.title }}</h2> 
    <div class="row flex-lg-row">
      <div class="col-10 col-sm-8 col-lg-3">
        
                                    
            {% for prof in page.professor.all %}              
              {% image prof.professor.image fill-1200x1600 as img %}
              <img src="{{ img.url }}" class="img-fluid" alt="...">
            {% endfor %}

            <h3>
              {% for prof in page.professor.all %}
                  {{ prof.professor.name }}
                {% endfor %}
            </h3>
      </div>
      <div class="col-lg-9">
        
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Personal Information & Education</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Experience</button>
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Professional Services</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                
                {% for prof in page.professor.all %}
                  {{ prof.professor.email }}
                {% endfor %}
                {% for prof in page.professor.all %}
                  {{ prof.professor.affiliation }}
                {% endfor %}
              {{ self.professor_personal|richtext }}
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">{{ self.professor_experience|richtext }}</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">{{ self.professor_professional|richtext }}</div>
          </div>
      </div>
    </div>
  </div>


{% endblock %}