{% load wagtailcore_tags wagtailimages_tags %}

{% for phd in phds %}

{% image phd.image fill-200x280 as img %}

<div class="mt-4">
    <div class="card bg-dark text-white" style="max-width: 200px;">
        <img src="{{ img.url }}" class="card-img" alt="...">
        
        <div class="bg-dark bg-opacity-50 rounded-bottom position-absolute bottom-0 w-100 h-35 px-2 py-2">
        
            <h5 class="card-title">{{ phd.name }}</h5>
            <p class="card-text mb-2">{{ phd.email }}</p>
            <p class="card-text d-none d-md-block">{{ phd.get_rank_display }}, {{ phd.get_status_display }}</p>
        </div>
    </div>
</div>
{% endfor %}