<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">About us</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fs-5">Applied Cryptography</h4>
          <p>LISIA has been studying cryptography schemes, protocols and applications based on understandings of cryptography theories and practices.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fs-5">Service-Oriented Security Mechanisms</h4>
          <p>Based on practical cryptographic techniques, in recent, LISIA is also focusing on developing application-level security mechanisms in IT-convergence service areas. For instance, we are aiming at security mechanisms for vehicular cloud environments in recent, widely including Internet of Things (IoT).</p>
       
        </div>
      </div>
    </div>
  </div>