{% load wagtailcore_tags wagtailimages_tags %}

<!-- Hero section -->

{% image self.hero_image fill-900x600 as img %}
    
    <div class="container mt-5 py-3">
        <div class="d-flex flex-xl-row-reverse flex-column gap-lg-5 gap-5">

          <div class="col">
              <img src="{{ img.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>

          <div class="col">
              <h1 class="display-5 fw-bold lh-1 mb-3">{{self.hero_title}}</h1>
              <p class="lead">{{self.hero_body}}</p>
          </div>

        </div>
    </div>