{% load wagtailcore_tags wagtailimages_tags %}

<div class="container pt-5">

    <div class="d-flex align-items-center justify-content-between border-bottom">
      <h2>Professor</h2>
      <a href="/professor.html" class="d-flex gap-2 align-items-center text-muted">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
        <u>See Full Information</u>
      </a>
    </div>

    <div class="row pt-4">
      {% for prof in page.professor.all %}
        {% image prof.professor.image fill-230x300 as img %}
            <div class="col-4 col-md-2">
                <img src="{{ img.url }}" class="img-fluid rounded" alt="...">
            </div>

            <div class="col-8 col-md-10 gap-4">
                <div class="card-body">
                    <h5 class="card-title">{{ prof.professor.name }}</h5>
                    <p class="card-text">{{ prof.professor.affiliation }}</p>
                    <p class="card-text">{{ prof.professor.email }}</p>
                </div>
        {% endfor %}
        </div>
    </div>
      

  </div>