    <!-- Publications -->
    <div class="row">
        <div class="container px-4 py-5" id="hanging-icons">
            <h2 class="pb-2 border-bottom">Publications</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                {% for pub in page.publication.all %}
                    <div class="col d-flex align-items-start">
                        <div>
                        <h3 class="fs-5">{{ pub.publication.authors }}</h3>
                        <p>{{ pub.publication.title }}</p>
                        <p>{{ pub.publication.published_where }}, {{pub.publication.publication_date}}</p>
                        </div>
                    </div>
                {% endfor %}
    
            </div>
        </div>
    </div>
